img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.page-item.active .page-link {
    background-color: #198754;
    border-color: #198754;
}

.page-link {
    color: #198754;
}

.inside {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
    padding: 30px;
    position: relative;
}

body {
    background-color: #f4f7fa;
}

ol li:hover{
    text-decoration: underline;
}