* {
    box-sizing: border-box;
}

body, html {
    background-color: #f4f7fa;
    color: #464646;
    font-family: Roboto,sans-serif;
    font-size: 15px;
}

#header {
    background-color: #30598c;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    border: none!important;
    padding-bottom: 0;
    padding-top: 0;
}

.logo-brand, img {
    width: 120px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.navbar-expand-lg {
flex-flow: row nowrap;
}

.parent-menu.desktop {
    flex: initial;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.body-content {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}

.container {
    max-width: 1320px;
}